.form {
  width: 100%;
  max-width: 700px;

  margin: 0 auto;

  background-color: var(--background-color);
  display: flex;
  flex-direction: column;

  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.titleInput {
  width: 100%;
  margin-bottom: 15px;
  height: 42px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  padding-left: 10px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--input-background);
}

.textInput {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  padding: 10px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--input-background);
}

.titleInput::placeholder,
.textInput::placeholder {
  color: var(--text-color);
}

.submitBtn {
  max-width: 148px;
  width: 100%;
  height: 42px;
  cursor: pointer;
  display: block;

  margin-left: auto;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border: 0;
  background-color: #555;
  color: #fff;
  font-weight: 700;
}

.importantWrapper {
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
}
.importantInput {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.importantInput.active {
  border-color: tomato;
}

.importantInput.active::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
}
