/* .teste {
  
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.teste.expanded {
  -webkit-line-clamp: unset;
} */

h1 {
  text-align: center;
}
